# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

logs/
*.jou
.Xil/
work/
.vscode/

#Vitis
nn2fpga/_x*/
nn2fpga/build_dir*/
nn2fpga/xilinx_*
nn2fpga/.run/
nn2fpga/.ipcache/
.docker_bash_history
.docker_home*
