absl-py
attrs
bitstring
brevitas
cmake
csnake
dependencies
mkdocs
mkdocs-material
numpy<2
onnx
onnxoptimizer
onnxruntime
onnxscript
packaging
pillow
protobuf
pulp
pytest
qonnx==0.4.0
toml
torch
torchvision
tqdm
pycocotools
pybind11
torchsummary
tabulate