attrs
bitstring
brevitas
charset-normalizer
clize
cmake
dependencies
docutils
filelock
flatbuffers
idna
jinja2
lit
markupsafe
mpmath
nanobind
networkx
numpy<2
od
onnx==1.15.0
onnxoptimizer
onnxruntime
packaging
pillow
protobuf
pulp
pytest
qonnx
requests
sigtools
six
sympy
toml
toposort
torch
torchaudio
torchvision
triton
typing-extensions
urllib3
tqdm
matplotlib
absl-py
torchsummary
librosa
PyYAML
tabulate

# Coco requirements
pycocotools
pybind11
